.tudo{
    display: flex;
    justify-content: center;
}
.menu{
    position: relative;
    width: 1140px;
    top: 34.5px;
    padding-bottom: 50px;
    /* border: 4px green solid; */
    display: grid;
    grid-template-columns: 134px  653px;
    column-gap: 349px;
    align-self: center;
    
    
}
.menu__header{
    display: grid;
    grid-template-columns: 24px 102px;
    grid-template-rows: 0px 32px;
    column-gap: 8px;
    text-align: center;
}
.menu__title{
    margin-top: 2.5px;
}
.menu__list{
    
    
    /* border: 2px red solid; */
    display: grid;
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    grid-template-columns: 67px 40px 63px 80px 75px 168px;
    column-gap: 32px;

}


