.formcontato__text {
    /* border: 2px green solid; */
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.formcontato__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1.5vh;
}

.formcontato__subtext {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4vh;
}

@media (max-width: 768px) {

    .formcontato__title {
        font-size: 22px;
    }

    .formcontato__text {
        margin-left: 0px;
        /* border: 2px solid green; */
        width: 80vw;
    }

    
  

}

/*Tablet*/
@media (max-width: 425px) {

   

}