.formcontato {
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    background: #EAF2FD;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.formcontato__contacto {
    /* border: 1px red solid; */
    width: 78.89vw;
    display: flex;
    height: auto;
}

@media (max-width: 768px) {
    .formcontato {
        width: 100vw;
    }

    .formcontato__contacto {
        width: 90vw;
        display: flex;
        justify-content: flex-start;

    }

}

/*Tablet*/
@media (max-width: 425px) {}