.footer {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}

.footer__rodape {
    /* border: 1px solid red; */
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    padding: 5vh;
    width: 78.89vw;


}

@media (min-width: 768px) {

}

/*Mobile*/
@media (min-width: 425px) {

}