.title__div {
    display: flex;
    width: 78.89vw;
    flex-direction: row-reverse;
    /* border: 2px black solid; */
}

.title__profile {
    /* border: 2px green solid; */
    width: 22vw;
}

.title__bio {
    margin-top: 0.5em;
    font-size: 52px;
    font-weight: bold;
    /* border: 3px yellow solid; */
}

.title__subsection {
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: 1em;

}

/*Tablet*/
@media (max-width: 768px) {
    .title__div{
        width: 90vw;
        border: 1px red solid;
        
    }
    .title__profile{
        width: 22vw;
        
    }

    .title__bio {
        font-size: 22px;
    }
    .title__subsection{
        font-size: 16px; 
    }


}

/*mobile*/
@media (max-width: 425px) {}