.title__network {
    display: flex;

}

.title__network__item {
    margin-right: 3.5em;
}

.title__network__item img {
    width: 0.9vw;
}

/*Tablet*/
@media (max-width: 768px) {
    .title__network__item {
        margin-right: 6.5vw;
    }


}

/*mobile*/
@media (max-width: 425px) {}